body{
    margin: 0px;
    
}
.nav_head{
    /* border: 3px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 5px -3px grey;
    padding: 0px 30px;
    /* position: sticky;
    top: 0px;*/
} 

.logo img{
    width: 150px;
    /* border: 3px solid black; */
    
    
}

.menu ul li{
    list-style-type: none;
    padding: 20px;
}
.menu ul li a{
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.menu ul{
    display: flex;
    padding: 0px;
    /* border: 3px solid black; */
  
}

.nav_head .icon i{
    font-size: 20px;
    padding: 20px;
}

.content{
    text-align: center;
}

.content h3 {
    font-family: 'Dancing Script', cursive;
    /* font-weight: bold; */
    font-size: 50px;
    color: #82bb2e;
   

}
.content h2{
    font-family: 'Rubik Iso', cursive;
    text-transform: uppercase;
    font-weight: bold;
    /* background-image: url('');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;  /*image comes at center
    padding-bottom: 40px; /* so to place image at bottom use pad-bot
    height: 200px; */
    
    /* font-size: 50px; */
}

.img{
    display: flex;
    padding: 20px;
    justify-content: space-around;
}

.child_img{
    /* display: flex; */
    /* border:1px solid lightgray; */
    /* overflow: hidden; */
    box-shadow: 1px 1px 5px 1px #80808082;
    border-radius: 8px;
    font-family:'Poppins', sans-serif ;
    text-align: center;
    font-weight: bold;
}

.child_img img{
    
    height: 150px;
    width: 220px;
    margin: 10px;
    padding: 20px;
   
}

.child_img h5{    
    color: #82bb2e;
    /* font-size: 26px; */
}

