.main_flex{
    border: 2px solid navy;
    background-color: pink;
    padding: 20px;
    display: flex;
    /* comes  one aftr another */
    flex-direction: column;
    flex-direction: column-reverse;
    flex-direction: row;
    flex-direction: row-reverse;
}

.child_div{
    border: 2px solid black;
    padding: 20px;
    margin: 10px;
    font-size: 20px;
    width: 300px;
    
}