.bg-img{
background-image: url('/img/nodeJS.jpg');
background-size: cover;
    background-repeat: no-repeat;
    width: 400px;
    height: 300px;
    margin: 10px;
    /* background-image:linear-gradient(rgba(155, 209, 48, 0.46), rgba(209, 88, 48, 0.46)), url('/img/nodeJS.jpg'); */
    
}

.bg-img:hover{
    background-image:linear-gradient(rgba(155, 209, 48, 0.46), rgba(209, 88, 48, 0.46)), url('/img/nodeJS.jpg');
}

.trns{
    background-color: olivedrab;
    height: 100px;
    width: 100px;
    margin: 100px;
    /* transition: 3s; */
    transform-origin: right bottom;
    transform-origin: left bottom;
    transform-origin: left;
    transform-origin: right;
    transform-origin: top right;
    transform-origin: top left;
    
}
.trns:hover{
    transform: rotate(360deg);   
}

.txt{
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 200px;
    margin: 20px;
   overflow: hidden;
   
}
.txt h1{
    transform: translate(200px,0px);
    transition: transform 3s;
    text-decoration: overline;
}

.txt:hover h1{
    transform: translate(0px, 0px);
}

.circle{
    border: 2px solid red;
    border-radius: 50%;
    width: 200px;
    height: 200px; 
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    
}

.circle:hover .headtxt{
    color: white;
}
.child-div{
    height: 200px;
    width: 200px;
    background-color: red;
    
    border-radius: 50%;
    transform: scale(0);
    position: absolute;
    z-index: -1;
    transition: transform 1s;
}

.circle:hover .child-div{
    transform: scale(1);
}


.ul_css li{
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    display: inline-flex;
    position: relative;
}

.ul_css li::after{
    content: '';
    width: 35px;
    height: 26px;
    background: yellowgreen;
    position: absolute;
    left: 0px;
    z-index: -1;  /*dec the priority*/
    /* transform: scaleX(0); */
    transform: scaleY(0);
    transition: 1s;
    /* transform-origin: left; */
    transform-origin: bottom;
    
}
li:hover::after{
    /* transform: scaleX(2); */
    transform: scaleY(2);
}

@media (max-width: 500px) {
    body{
        background-color: lightblue;
    }
}















